<h2>Please choose a category and number</h2>

<input type="number" placeholder="id"  min="1" max="5" [(ngModel)]='frmId' /><br/>
<select [(ngModel)]='whichCategory'> 
    
    <option *ngFor='let item of choices'>{{item.cat}}</option>
</select>
<br/>

<button (click) = 'handleClick()'>Search</button>

<div *ngIf='whichCategory =="people" '>Name: {{model.name}} Height: {{model.height}} Hair: {{model.hair_color}}</div>
<div *ngIf='whichCategory =="planets" '>Name: {{model.name}} Climate: {{model.climate}} Population: {{model.population}}</div>
<div *ngIf='whichCategory =="vehicles" '>Name: {{model.name}} Model: {{model.model}} Manufacturer: {{model.manufacturer}}</div>
<div *ngIf='whichCategory =="species" '>Name: {{model.name}} Classification: {{model.classification}} Skin Colors: {{model.skin_colors}}</div>
<div *ngIf='whichCategory =="starships" '>Name: {{model.name}} Model: {{model.model}} Manufacturer: {{model.manufacturer}}</div>

